<div class="w-[25%] h-full rounded-2xl box-1 overflow-y-scroll">

    <img src="../public/images/logo.svg" alt="" class=" mx-auto">
    <p class="text-center text-2xl mt-4 text-orange-400 text-bold">GyanSanchar</p>

    <div class="flex text-xl mt-4">
        <a href="/admin/adminhome" class=" text-xl font-inter">
        <p class="ml-4">Dashboard</p>
    </a>
    </div>
    <div class="mt-2">
        <a href="/admin/get_add_online_course" class="ml-4 text-xl font-inter">Manage Online Course</a>
    </div>
    <div class="flex  mt-2">
        <a href="/admin/get_queries?page_id=gs_neet" class="ml-4 text-xl font-inter">G-Medical - NEET Foundation</a>
    </div>
    <div class="flex text-2xl mt-2">
        <a href="/admin/get_queries?page_id=gs_lil_genius"  class="ml-4 text-xl  font-inter ">Li'l genius pre-foundation</a>
    </div>
    <div class="flex text-2xl mt-2">
        <a href="/admin/get_queries?page_id=gs_iit_jee"  class="ml-4 text-xl  font-inter">G-IIT JEE Foundation</a>
    </div>
    <div class="flex text-2xl mt-2">
        <a href="/admin/get_queries?page_id=gs_arambh"  class="ml-4 text-xl font-inter">Arambh Foundation: <br> Class 9 | Class 10</a>
    </div>
    <div class="flex text-2xl mt-2">
        <a href="/admin/get_queries?page_id=gs_nda"  class="ml-4 text-xl font-inter">G- NDA </a>
    </div>
    <div class="flex mt-2">
        <a href="/admin/get_queries?page_id=admission_jee_mains" class="ml-4 text-xl font-inter">JEE MAINS ADMISSIONS</a>
    </div>
    <div class="flex mt-2">
        <a href="/admin/get_queries?page_id=admission_neet" class="ml-4 text-xl font-inter">NEET ADMISSIONS</a>
    </div>
    <div class="flex mt-2">
        <a href="/admin/get_queries?page_id=admission_top_bar" class="ml-4 text-xl font-inter">TOP BAR ADMISSIONS</a>
    </div>
    <div class="flex text-2xl mt-2">
        <a href=""  class="ml-4 text-xl font-inter">Download</a>
    </div>
    <div class="flex text-2xl mt-2">
        <a href="/admin/get_add_blog"  class="ml-4 text-xl font-inter">Blogs</a>
    </div>
    <div class="flex text-2xl mt-2">
        <a href="/admin/get_student_testimonial"  class="ml-4 text-xl font-inter">Student Testimonials</a>
    </div>
    <div class="flex text-2xl mt-2">
        <a href="/admin/get_queries?page_id=gs_contact"  class="ml-4 text-xl  font-inter">Contact us</a>
    </div>
    <div class="flex text-2xl mt-2">
        <a href="/admin/get_queries?page_id=gs_noida"  class="ml-4 text-xl  font-inter">GS Noida</a>
    </div>
</div>