<style>
    .owl-carousel .nav-button {
  height: 50px;
  width: 25px;
  cursor: pointer;
  position: absolute;
  top: 30% !important;
}
.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.25;
}
.owl-carousel .owl-prev {
  left: -5%;
}
.owl-carousel .owl-next {
  right:-5%;
}

.owl-theme .owl-nav [class*=owl-] {
  color: #ffffff;
  font-size: 39px;
  background-color: rgba(0, 0,0,0) !important;
  color: #C77E2E !important;
  border-radius: 3px;
}
@media screen and (max-width: 480px) {
  .owl-carousel .owl-prev {
  left: -7%;
}
.owl-carousel .owl-next {
  right:-7%;
}

}
</style>
<section class="my-24 max-h-screen mt-10" data-aos="fade-up">
    <p class="text-center text-4xl font-bold font-ralewey">ACADEMIC AND COMPETITIVE EXAM COURSES</p>
    <!-- <p class="text-center text-2xl">Lorem ipsum dolor sit amet.</p> -->
      <!-- Caraousel Start -->
      <div class="carousel owl-carousel owl-theme w-[90%]  h-[60%]  mx-auto mt-5 ">
       <div class="card">
           <div class="box border-2 border-gray-300 rounded-lg h-[30rem] relative">
             <a href="/iit_jee">
               <div class="bg-[#E8B8FF] lg:px-10 py-5 px-2 rounded-t-lg ">
                   <p class="font-bold">G-IIT JEE MAINS</p>
                   <p class="font-bold">11 & 12th class preparation</p>
                   <div class="flex items-center justify-evenly">
                     <img src="../public/images/anchor.svg" alt="" class="lg:h-auto lg:w-auto md:h-24 md:w-24">
                     <img src="../public/images/books.png" class="lg:h-36 lg:w-36  md:h-24 md:w-24 h-24 w-24">
                   </div> 
                 </div>
             </a>
                 <div class="bg-white p-2 flex flex-col gap-y-4  ">
                   <p class="text-xl font-bold">G-IIT JEE Mains | Advance | Class 11 | Class 12</p>
                   <p class="font-semibold">Online and Hybrid classes for <a href="/iit_jee" class="underline text-yellow-600">Class 11, Class 12, IIT JEE Mains, Advance and 12 Pass out students.</a> Prepare for competitive exam along with school and board exam</p>
                   <div class="absolute right-2 bottom-2">
                      <div class="bg-[#FF7426] px-4 py-2 w-fit rounded-lg">
                       <a href="/iit_jee">
                       <p class="text-white">Explore Now</p>
                     </a>
                      </div>
                   </div>
                 </div>
           </div>
       </div>
       
       <div class="card">
           <div class="box border-2 border-gray-300 rounded-lg relative h-[30rem]">
             <a href="/neet">
               <div class="bg-[#FFD836] lg:px-10 py-5 px-2 rounded-t-lg ">
                   <p class="font-bold">G-Medical-NEET</p>
                   <p class="font-bold">11 & 12th class preparation</p>
                   <div class="flex items-center justify-evenly">
                     <img src="../public/images/anchor.svg" alt="" class="lg:h-auto lg:w-auto md:h-24 md:w-24">
                     <img src="../public/images/neetlaptop.svg" class="lg:h-36 lg:w-36  md:h-24 md:w-24 h-24 w-24">
                   </div> 
                 </div>
             </a>
                 <div class="bg-white p-2 flex flex-col gap-y-4  ">
                  
                   <p class="text-xl font-bold">G-Medical - NEET | Class 11 |<br> Class 12</p>
                   <p class="font-semibold">Online and Hybrid classes for <a href="/neet" class="underline text-yellow-600">Class 11, Class 12,  NEET and 12 Pass out students</a>.  Prepare for competitive exam along with school and board exam.</p>
                   <div class="absolute right-2 bottom-2">
                      <div class="bg-[#FF7426] px-4 py-2 w-fit rounded-lg">
                       <a href="/neet">
                       <p class="text-white">Explore Now</p>
                     </a>
                      </div>
                   </div>
                 </div>
           </div>
       </div>
       
       <div class="card">
           <div class="box border-2 border-gray-300 rounded-lg relative h-[30rem]">
             <a href="/nda">
               <div class="bg-[#A91CED] lg:px-10 py-5 px-2 rounded-t-lg ">
                   <p class="font-bold">G-NDA/NA </p>
                   <p class="font-bold">12th class Passout</p>
                   <div class="flex items-center justify-evenly">
                     <img src="../public/images/anchor.svg" alt="" class="lg:h-auto lg:w-auto md:h-24 md:w-24">
                     <img src="../public/images/books.png" class="lg:h-36 lg:w-36  md:h-24 md:w-24 h-24 w-24">
                   </div> 
                 </div>
             </a>
                 <div class="bg-white p-2 flex flex-col gap-y-4  ">
                   <p class="text-xl font-bold">G-NDA /NA | Class 12 | Class 12 passout</p>
                   <p class="font-semibold">Online and Hybrid classes for <a href="/nda" class="text-yellow-600 underline"> Class 11, Class 12, NDA and 12 Pass out students.</a>  Prepare for competitive exam along with school and board exam</p>
                   <div class="absolute right-2 bottom-2">
                      <div class="bg-[#FF7426] px-4 py-2 w-fit rounded-lg">
                       <a href="/nda">
                       <p class="text-white">Explore Now</p>
                     </a>
                      </div>
                   </div>
                 </div>
           </div>
       </div>
       
       <div class="card">
           <div class="box border-2 border-gray-300 rounded-lg h-[30rem] relative">
             <a href="/arambh">
               <div class="bg-[#72A6FF] lg:px-10 py-5 px-2 rounded-t-lg ">
                   <p class="font-bold">Aarambh Foundation</p>
                   <p class="font-bold">9th & 10th class preparation</p>
                   <div class="flex items-center justify-evenly">
                     <img src="../public/images/anchor.svg" alt="" class="lg:h-auto lg:w-auto md:h-24 md:w-24">
                     <img src="../public/images/books.png" class="lg:h-36 lg:w-36  md:h-24 md:w-24 h-24 w-24">
                   </div> 
                 </div>
               </a>
                 <div class="bg-white p-2 flex flex-col gap-y-4 ">
                   <p class="text-xl font-bold">Arambh Foundation Class 9 | Class 10 | NTSE</p>
                   <p class="font-semibold"> Online and Hybrid classes for <a href="/arambh" class="underline text-yellow-600"> Class 9 and Class 10 along with preparation for NTSE </a> </p>
                   <div class="absolute right-2 bottom-2">
                      <div class="bg-[#FF7426] px-4 py-2 w-fit rounded-lg ">
                       <a href="/arambh">
                       <p class="text-white">Explore Now</p>
                     </a>
                      </div>
                   </div>
                 </div>
           </div>
       </div>
       
       <div class="card">
           <div class="box border-2 border-gray-300 rounded-lg h-[30rem] relative">
             <a href="/Lil_genius">
               <div class="bg-[#CC8CFF] lg:px-10 py-5 px-2 rounded-t-lg ">
                   <p class="font-bold">Li'l Genius PreFoundation</p>
                   <p class="font-bold">7 & 8th class preparation</p>
                   <div class="flex items-center justify-evenly">
                     <img src="../public/images/anchor.svg" alt="" class="lg:h-auto lg:w-auto md:h-24 md:w-24">
                     <img src="../public/images/books.png" class="lg:h-36 lg:w-36  md:h-24 md:w-24 h-24 w-24">
                   </div> 
                 </a>
                 </div>
                 <div class="bg-white p-2 flex flex-col gap-y-4  ">
                   <p class="text-xl font-bold">Li'l Genius PreFoundation | Class 6 | Class 7| Class 8 | Olympiad</p>
                   <p class="font-semibold">Online and Hybrid classes for <a href="/lil_genius" class="text-yellow-600 underline">Class 6, Class 7, Class 8 and Olympiad.</a> Prepare for competitive exam along with School exam. 
                   </p>
                   <div class="absolute right-2 bottom-2">
                      <div class="bg-[#FF7426] px-4 py-2 w-fit rounded-lg">
                       <a href="/Lil_genius">
                       <p class="text-white">Explore Now</p>
                     </a>
                      </div>
                   </div>
                 </div>
           </div>
       </div>
    </div> 
</div>
   <!-- Caraousel End -->
   </section>
   <script>
    $(document).ready(function()
    {
        $('.carousel').owlCarousel({
       margin: 20,
       loop: true,
       autoplay: true,
       autoplayTimeOut: 100,
       autoplayHoverPause: true,
       nav: true,
       navText: ["<div class='nav-button owl-prev'>‹</div>", "<div class='nav-button owl-next'>›</div>"],
       responsive: {
           0:{
               items: 1,
           },
           600:{
               items: 2,
           },
           1000:{
               items: 3,
           }
       }
   });
})
   </script>