



<footer class="mt-10 bg-[#FBEFCE]">
    <div class=" lg:p-10 flex lg:flex-row flex-col justify-evenly  ">
          <div class="flex flex-col  lg:w-[25%] w-full ">
            <a href="/">
              <img src="../public/images/gslogo.svg"  class="mx-auto">
            </a>
              <div class="mt-4 text-center">
                <p>Timings:</p>
                <p> Monday - Saturday: 10 am - 7 pm </p>
                <p> Sunday: 10am - 2pm</p>
              </div>
              <div class="grid grid-cols-3 mt-16 gap-x-8 mx-auto gap-y-2">
                <a href="https://www.youtube.com/c/GyanSanchar" target="_blank"> <img src="../public/images/youtubeicon.svg" class="h-10 w-10"></a>
                <a href="https://www.linkedin.com/company/gyansanchar-2020" target="_blank"><img src="../public/images/linkedinicon.svg" class="h-10 w-10"></a>
                
                <a href="https://www.facebook.com/gyansanchaar" target="_blank"><img src="../public/images/fbicon.svg" class="h-10 w-10"></a>
                <a href="https://www.twitter.com/Gyansanchar" target="_blank"><img src="../public/images/icons8-twitterx-50.png" class="h-10 w-10"></a>
                <a href="https://www.instagram.com/_gyansanchar" target="_blank"><img src="../public/images/instaicon.svg" class="h-10 w-10"></a>
                <a href="https://www.pinterest.com/gyansanchar" target="_blank"><img src="../public/images/pin_icon.svg" class="h-10 w-10"></a>
              </div>
          </div>
          <div class="bg-black h-[1px] w-full p-0.2 lg:hidden"></div>
          <div  class="flex flex-col   lg:w-fit w-full  px-5  lg:px-10 font-roboto-400 ">
                 <h1 class="text-xl font-bold">Company</h1>
                 <div class="mt-4 flex flex-col space-y-2">
                 <a href="/" class="text-sm">Home</a>
                 <a href="/about" class="text-sm">About</a>
                 <a href="/contact" class="text-sm">Contact Us</a>
                 <a class="text-sm cursor-pointer" href="/terms_and_conditions">Terms & Conditions</a>
                 <a class="text-sm cursor-pointer">FAQ's</a>
                 <a class="text-sm cursor-pointer" href="/privacy_policy">Privacy Policy</a>
                 <a class="text-sm cursor-pointer" href="/blogs">Blogs</a>
                 <a class="text-sm cursor-pointer" href="/gs_noida">GS Noida</a>
                 </div>
          </div>
          <div class="bg-black h-[1px] w-full p-0.2 lg:hidden"></div>
          <div  class="flex flex-col   lg:w-[20%]  lg:px-2 lg:py-0 w-full p-5 font-roboto-400 ">
              <h1 class="text-xl font-bold">Courses</h1>
              <div class="mt-4 flex flex-col space-y-2">
              <a href="/iit_jee" class="text-sm">G-IIT JEE Foundation</a>
              <a href="/neet" class="text-sm">G-Medical - NEET Foundation</a>
              <a href="/arambh"  class="text-sm">Arambh Foundation: <br>
                  Class 9 | Class 10</a>
              <a href="/Lil_genius" class="text-sm">Gyan Sanchar | LI'L Genius Pre Foundation</a>
              <a class="text-sm" href="/nda">G-NDA </a>
             </div>
       </div>
       <div class="bg-black h-[1px] w-full p-0.2 lg:hidden"></div>
       <div class="flex flex-col  w-full  p-5 lg:p-0 font-roboto-400  lg:w-fit ">
        <h1 class="text-xl font-bold">Skill Courses</h1>
        <div class="mt-4 flex flex-col space-y-2">
            <a href="https://thinkwht.com/course/ui_ux" class="text-sm" target="_blank">UI/UX</a>
            <a href="https://thinkwht.com/course/flutter_development" class="text-sm " target="_blank">Flutter Development</a>
            <a href="https://thinkwht.com/course/frontend_development" class="text-sm" target="_blank">Frontend Development</a>
            <a href="https://thinkwht.com/course/backend_development" class="text-sm" target="_blank">Backend Development</a>
            <a class="text-sm" href="https://thinkwht.com/course/react_js" target="_blank">React Js</a>
            <a class="text-sm" href="https://thinkwht.com/course/dsa" target="_blank">DSA</a>
        </div>
        
       </div>
       <div class="bg-black h-[1px] w-full p-0.2 lg:hidden"></div>
       <div class="flex flex-col  space-y-10 lg:w-[23%] w-full  lg:px-2 p-5 lg:py-0 font-roboto-400 ">
        <div>
        <h1 class="text-xl font-bold">Contact Info</h1>
        <div class="mt-4">
        <p class="text-sm">+91-9654272501</p>
        <p class="text-sm">contact@gyansanchar.com</p>
         </div>
        </div>
        <p class="text-sm">B-12 2nd floor Kacheri road, RDC, Raj Nagar, Ghaziabad, Uttar Pradesh 201001</p>
        <p class="text-sm">Blk-15, Sector 116, Noida, Uttar Pradesh, India</p>
        <div>
            <p class="text-sm font-bold">Want to recieve amazing updates from us?</p>
          <form method="post" id="mysubsForm" action="/subscribe">
            <div class="flex bg-white p-2  rounded-full space-x-2  w-fit items-center mt-2">
                <img src="../public/images/mailicon.svg">
                <input type="email" placeholder="Enter your email" class="outline-none border-0" name="email">
                <button id="mysubsButton" type="submit"><img src="../public/images/nextbutton.svg" ></button>
            </div>
          </form>
        </div>
        <div class="flex flex-col space-y-2">
            <p class="text-lg">Gyansanchar App</p>
             <div class="flex space-x-3 items-center">
               <a href="https://on-app.in/app/oc/72590/dlbdl" target="_blank"><img src="../public/images/playstoreicon.svg"></a> 
                <img src="../public/images/iosicon.svg">
             </div>
        </div>
       </div>
    </div> 
 </div>
    <div class="bg-black h-0.5 w-full p-0.2"></div>
    <div class="p-5"><p class="text-center font-bold">Copyright © 2023 All rights reserved. Developed by ELVDRIVE</p></div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
  </script>
  <script>
    
  </script>
 <script>
  
  $(document).ready(function()
    {
        $('#mysubsForm').submit(function (event) {
            event.preventDefault(); // Prevent the default form submission
            // Serialize the form data
            const formData = $(this).serialize();

            // Send an AJAX request to the server
            $.ajax({
                type: 'POST',
                url: '/subscribe',
                data: formData,
                success: function (response) {
            
                    // Display the success message
                    $('#mysubsForm')[0].reset();
                     
                    Swal.fire(response)

                    // Optionally, reset the form
                   
                },
                error: function (error) {
                    
                    Swal.fire(error.responseText)
                }
            });
        });
    })
</script>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
</html>