<%-include('partials/header')%>
    <section class="relative">
        <div class="lg:px-10 md:p-5  flex lg:justify-evenly lg:flex-row flex-col-reverse">
            <div class="lg:w-[50%] space-y-2 p-5">
                <p class="font-bold md:text-3xl text-2xl">Arambh Foundation: Class 9 | Class 10 | NTSE (Online &
                    Hybrid coaching)
                </p>
                <p class="lg:text-lg font-roboto-400 text-[#8A8A8A] pt-4">
                    The objective of <b class="text-gray-700">Arambh Foundation</b> is to prepare students of Class 9th
                    and 10th and for upcoming
                    vast studies of class 11th and 12th of any stream. This course includes complete preparation for
                    <b class="text-gray-700">Board</b> and <a href="/ntse_exam"
                        class="underline font-bold text-yellow-600">NTSE</a> . <b class="text-gray-700">Olympiad, KVPY,
                        MVPP etc. competitive examinations</b>. We work on the foundation
                    of mathematics and science which will help students in higher secondary classes and <b
                        class="text-gray-700">
                        upcoming IIT
                        JEE and medical examination.
                    </b>
                    GyanSanchar study pattern is based on the earlier age Gurukul system. Our gurus acts as a mentor
                    to each student and not only teach but also provide study plan for self-study
                </p>
            </div>
            <div class="mx-auto lg:mx-0">
                <img src="../public/images/aarambh_section1.svg" data-modal-target="formModal"
                    data-modal-toggle="formModal">
            </div>
        </div>
        <img src="../public/images/courseillus.svg" class="absolute right-1 bottom-1 -z-10 hidden md:flex">
    </section>

    <section class="hidden">
        <div class="bg-[#FDF8EE] flex justify-evenly items-center lg:flex-row flex-col">
            <img src="../public/images/arambhfeaturecard.svg" data-modal-target="formModal"
                data-modal-toggle="formModal">
            <div class="lg:w-[50%] md:p-10 p-6">
                <p class="text-3xl font-bold">Features</p>
                <p>
                <ul class="leading-7">
                    <li class="list-disc">
                        <p>Coaching available in Online and Hybrid mode.</p>
                    </li>
                    <li class="list-disc">
                        <p>Provide Comprehensive study material, covering deep concepts with suitable examples, and
                            exercise (different difficulty level).</p>
                    </li>
                    <li class="list-disc">
                        <p>DBS (daily brain storming) concept is followed with complete exercise to keep student
                            connected.</p>
                    </li>
                    <li class="list-disc">
                        <p>Online topic wise and complete practice test based on exam patterns along with performance
                            report.</p>
                    </li>
                    <li class="list-disc">
                        <p>Coaching available in Online and Hybrid mode.</p>
                    </li>
                    <li class="list-disc">
                        <p>Coaching available in Online and Hybrid mode.</p>
                    </li>
                    <li class="list-disc">
                        <p>Coaching available in Online and Hybrid mode.</p>
                    </li>

                </ul>
                </p>
            </div>
        </div>
    </section>


    <section>
        <div class="flex justify-evenly items-center my-10 lg:flex-row flex-col">
            <img src="../public/images/arambh_class_10.png" class="rounded-xl" data-modal-target="formModal"
                data-modal-toggle="formModal">
            <div class="lg:w-[40%] p-5">
                <p class="lg:text-3xl text-xl font-bold py-4 font-roboto">Arambh Foundation for Class 10</p>
                <p class=" text-lg leading-9  text-justify font-roboto-400 text-[#8A8A8A]">
                    This course has coaching and assessment of 440 hrs, which includes 60 hrs. of session for doubt
                    clearing. It covers
                    <br>
                    <b class="text-gray-700">Class 10</b> Mathematics and Science at basic and advance Level.
                    <br>
                    Preparation for <b class="text-gray-700">MAT</b> and <b class="text-gray-700">SAT</b> at advance
                    level.
                    <br>

                    Preparation of English and SST for <b class="text-gray-700">NTSE.</b>
                    <br>
                    <b class="text-gray-700">Practice test</b> topic wise and full test.
                    <br>
                    Revision of Math and Science for <b>Board</b> exam and further <b>KVPY</b> exams.
                    <br>
                    This covers <b class="text-gray-700">280 hrs. of coaching, 100 hrs. of assessment.</b>
                </p>
            </div>
        </div>
        <div class="flex justify-evenly items-center my-4 lg:flex-row-reverse flex-col">
            <img src="../public/images/arambh_class_9.png" class="rounded-xl" data-modal-target="formModal"
                data-modal-toggle="formModal">
            <div class="lg:w-[40%] p-5">
                <p class="lg:text-3xl text-xl font-bold font-roboto ">Arambh Foundation for Class 9</p>
                <p class=" text-lg leading-9  text-justify font-roboto-400 text-[#8A8A8A]">

                    This course has coaching and assessment of 380 hrs, which includes 50 hrs. of session for doubt
                    clearing. It covers
                      <br>
                    <b class="text-gray-700">Class 9</b> Maths and Science at basic and advance Level.<br>

                    Preparation for <b class="text-gray-700">MAT for competitive exams.</b><br>

                    Preparation for English and SST for <b class="text-gray-700">NTSE, MVPP.</b><br>

                    <b class="text-gray-700">Practice test</b> topic wise and full test. <br>

                    Revision for <b class="text-gray-700">final school exams.</b><br>

                    This covers<b class="text-gray-700"> 230 hrs. of coaching, 100 hrs. of assessment.</b>

                </p>
            </div>
        </div>
        <div class="flex justify-evenly items-center my-10 lg:flex-row flex-col">
            <img src="../public/images/arambh_summer.svg" class="" data-modal-target="formModal"
                data-modal-toggle="formModal">
            <div class="lg:w-[40%] p-5">
                <p class="lg:text-3xl text-xl font-bold py-4 font-roboto ">Summer Special - Target NTSE</p>
                <p class="text-justify">
                    <ul class="leading-9 text-lg font-roboto-400 text-[#8A8A8A]">
                        <li class="list-disc"><b  class="text-gray-700">NTSE - National Talent Search Examination (MAT) - </b> Preparation for Mental Aptitude Test -MAT </li>
                        <li class="list-disc"><b class="text-gray-700">MVPP - Mukhyamantri Vigyan Pratibha Pariksha (MAT)</b></li>
                        <li class="list-disc"><b  class="text-gray-700">This Course will be covered in 30 days</b></li>
                        <li class="list-disc">It includes major topics of Class 10 Mathematics along with complete MAT. </li>
                        <li class="list-disc"> In this course topic wise practice Set, Practice Test will also will be provided. </li>
                        <li class="list-disc"><b  class="text-gray-700">For  more details click <span class="text-yellow-600 underline"><a href="http://on-app.in/app/oc/197392/dlbdl" target="_blank">here</a></span></b>  </li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="flex justify-evenly items-center my-4 lg:flex-row-reverse flex-col my-10">
            <img src="../public/images/arambh_mat.svg" class="" data-modal-target="formModal"
                data-modal-toggle="formModal">
            <div class="lg:w-[40%] p-5 ">
                <p class="lg:text-3xl text-xl font-bold  py-4 font-roboto">Prepare for MAT online</p>
                <p >
                    <ul class=" text-lg leading-9  text-justify font-roboto-400 text-[#8A8A8A]">
                        <li class="list-disc"><b class="text-gray-700">NTSE - National Talent Search Examination (MAT)</b> - Preparation for Mental Aptitude Test -MAT </li>
                        <li class="list-disc"><b class="text-gray-700">MVPP - Mukhyamantri Vigyan Pratibha Pariksha (MAT)</b></li>
                        <li class="list-disc"><b class="text-gray-700">This Course covers different topics of Verbal reasoning</b>
                            <br>
                            - Explanation along with examples for each category
                            <br>
                            - Practice Questions for each category  with Answers and explanation
                            <br>
                            - Practice Test for each category</li>
                        <li class="list-disc"><b class="text-gray-700">For  more details click</b> <span class="text-yellow-600 underline"><a href="https://play.google.com/store/apps/details?id=co.alexis.dlbdl" target="_blank">here</a></span></li>
                    </ul>
                </p>
            </div>
        </div>
    </section>

    <%-include('partials/footer')%>
        <%-include('partials/queryform')%>