<%-include('partials/header')%>

<style>
    .blog{
        background-color:  #FDF8EE;
    }
    .btn-blog{
      background: #4D2C5E;
    }
    .textcolor{
      color: #8A8A8A;
     }
     .card1{
       background-color: #A91CED;
     }
     .card2{
      background-color: #70BCAB;
           }
      .card3{
       background-color: #FFCA8C;
           }
</style>
<body>
     
    <div class="blog h-56 w-full"> 
        <div class="flex  justify-around">
          <img src="../public/images/mainng" alt="" class="hidden lg:block mt-12">
          <button class="h-16 w-64 mt-16 text-white text-3xl rounded-full btn-blog">
            <a href="https://play.google.com/store/apps/details?id=co.alexis.dlbdl">
            Download APP
        </a>
        </button>
          <img src="../public/images/Other 15.png" alt="" class="hidden lg:block ">
          
        </div> 
      </div>


      <!-- main section -->
    <div class="md:flex flex-row items-center md:pl-5">
      <div class="lg:w-1/3 items-center flex">
      <img src="../public/images/main.png" alt="mobile image" class="lg:-mt-24 mt-12 mx-20 items-center relative"/>
      <img src="../public/images/image 30.png" alt="" class="absolute mx-32 mb-24">
    </div>
      <div class=" mx-8 mt-4  text-lg  md:text-left  lg:w-2/3 textcolor">
        <p>One place for all need of student </p>
         <li> GyanManthan is an online platform of GyanSanchar for managing all needs of student at one place in most efficient and transparent manner. </li>
         <li> It is a user-friendly app with amazing features like Class schedules, Recorded lectures, Assignments, Online Test, Performance report and much more... </li>
         <li> Its a perfect on- the- go solution for parents to know about their wards’ class details. </li>
      </div>
    </div>
 <!--GYANMANTHAN - WEB - MOBILE APP FEATURES-->
<div class="text-4xl text-center font-bold mt-8">
  GYANMANTHAN - WEB - MOBILE APP FEATURES
</div>
<!--card-->
<div class=" justify-items-stretch my-12 mx-auto px-4 md:px-12">
  <div class="flex flex-wrap justify-center -mx-1 lg:-mx-4">


          <!-- Card(1) -->
          <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
  
            <!--Image Artilce-->
            <div class="overflow-hidden rounded-lg ">

                <div class="card1 rounded">
                    <img alt="cards1" class="block h-[20rem] w-full rounded" src="../public/images/image 74.png"> 
                </div>

                <div class="items-center text-center justify-between pt-2  md:py-4">
                   
                       
                          <p class="text-md font-bold">G-DAST (Digital Admission and Scholarship Test)  </p>
                      
                          <p class="textcolor text-sm mt-2">Up to 100% Scholarship and win Cash Prizes.
                            Appear for " Scholarship Test "
                            </p>
                   
                </div>                         
                        
            </div>
            <!-- END Article -->
        </div>
        <!-- END Card(1) -->
<!-- Card(2) -->
<div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
  
  <!--Image Artilce-->
  <div class="overflow-hidden rounded-lg ">

      <div class="card2 rounded">
          <img alt="cards1" class="block h-[20rem] w-full rounded" src="../public/images/image 61.png"> 
      </div>

      <div class="items-center text-center justify-between pt-2  md:py-4">
         
             
                <p class="text-md font-bold">Recorded Lectures  </p>
            
                <p class="textcolor text-sm mt-2">Don't to worry, recorded lectures are always available to go through and also to refer in future.
                  </p>
      </div>                         
  </div>
  <!-- END Article -->
</div>
<!-- END Card(2) -->

<!-- Card(3) -->
<div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
  
  <!--Image Artilce-->
  <div class="overflow-hidden rounded-lg ">

      <div class="card3 rounded">
          <img alt="cards1" class="block h-[20rem] w-full rounded" src="../public/images/dnldcalendar.png"> 
      </div>

      <div class="items-center text-center justify-between pt-2  md:py-4">
         
             
                <p class="text-md font-bold">Online Practice Test </p>
            
                <p class="textcolor text-sm mt-2">Online Practice Test based on exam patterns.
                  Regular topic wise test for all subjects,
                  Analysis Report
                  </p>
      </div>                         
  </div>
  <!-- END Article -->
</div>
<!-- END Card(33) -->
    

    
    
     


  </div>
</div>


<%-include('partials/footer')%>