<%-include('partials/header')%>
<style>
    .font-roboto-400
    {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
</style>
<section class="bg-[#FDF8EE] h-[13.215rem] flex justify-center items-center">
    <div class="text-white bg-[#4D2C5E] text-xl font-bold w-fit py-2 px-10 rounded-full"><p>GYANSANCHAR NOIDA</p></div>
</section>
<section class="bg-[#FFE7D1] flex flex-col lg:flex-row  justify-around lg:px-16 py-2 px-5 items-center mt-10 lg:mt-24">
    <div class="w-[30%]">
        <img src="../public/images/boywithlaptop.svg" class="h-96">
      </div>
      <div class="w-[70%]">
        <p class="text-3xl font-bold ">Enhance Your Kids Academic Skills</p>
        <p class="font-roboto-400 text-md pt-4">GyanSanchar Noida believes in building strong foundation for kids from early years and enhance their academic skill along with academic knowledge.
            <br>
            In today's competitive world, academic skill is very much required to compete in different competitive exams and build your desired career.
            <br>
            At GyanSanchar we focus on students from Class 6 to class 12 to build a strong foundation and prepare them for School exams along with different competitive exams. We also help them to enhance their interpersonal skill.</p>
      </div>
</section>
<section>
    <div class="w-[90%] flex flex-col lg:flex-row justify-between items-center mx-auto my-10">
    <div class="bg-[#E8B8FF] w-full lg:w-[27%] px-10 text-center flex flex-col py-5 lg:mt-0 mt-4 justify-center items-center space-y-2 h-[20rem] rounded-xl">
          <p class="font-bold">Blk-15, Sector 116, Noida, Uttar Pradesh, India</p>
          <img src="../public/images/card1.png">
          <div class="bg-[#FF7426] w-full text-white font-bold text-2xl rounded-full px-5 py-2"><p>OUR ADDRESS</p></div>        
    </div>
    <div class="bg-[#70BCAB] w-full  lg:w-[27%] px-10 text-center flex flex-col py-5  lg:mt-0 mt-4 justify-center items-center space-y-2 h-[20rem] rounded-xl">
        <p class="font-bold">+91-9654272501</p>
        <img src="../public/images/card2.png">
        <div class="bg-[#FF7426] w-full text-white font-bold text-2xl rounded-full px-5 py-2"><p>CONTACT US</p></div>        
  </div>
  <div class="bg-[#FFCA8C] w-full lg:w-[27%] px-10 text-center flex flex-col  lg:mt-0 mt-4 justify-center items-center  h-[20rem] rounded-xl">
    <p class="font-bold">+91-9977834343</p>
    <div class="h-[11rem]">
      <img src="../public/images/wa_icon.svg" class=" pt-[2rem]">
    </div>
    <div class="bg-[#FF7426] w-full text-white font-bold text-2xl rounded-full px-5 py-2"><p>WhatsApp</p></div>        
 </div>
    </div>

    <div class="mx-auto bg-[#FFEEB4] w-[90%]  lg:w-[25%] px-10 text-center flex flex-col justify-center items-center  h-[20rem] rounded-xl">
        <p class="font-bold underline">GyanSanchar Noida</p>
        <div class="h-[11rem]">
          <img src="../public/images/card4.svg" class=" ">
        </div>
        <div class="bg-[#FF7426] w-full text-white font-bold text-2xl rounded-full px-5 py-2"><p>Location</p></div>        
     </div>

</section>
<!--contact -->
<div class="container h-auto w-[100%] mx-auto bg-white rounded-xl mt-8 bg-[#FBEFCE] font-roboto">
    <div class="md:flex flex-row  md:pl-5 ">
   <a href="https://wa.me/919654272501"> <img
      src="../public/images/noida_msgcard.svg"
      alt="hiring image"
      class="h-[25rem] w-[17rem] mx-auto md:mx-0 md:h-96 md:w-96 lg:h-[35rem] lg:w-[30rem] my-12"
    /></a>
    <div class=" space-y-5 p-2 mx-12 md:text-left lg:w-1/2  lg:mx-12 ">
        <form class="w-full mx-auto"  id="admission_form">
          
              <div class="mt-12">
                  <label
                    for="name"
                    class="block mb-2 -mt-2 text-lg font-semibold text-black mt-2"
                    >Name*</label
                  >
                  <input
                    type="name"
                    name="name"
                    class="bg-white text-black text-sm rounded-full block w-full p-2"
                    required
                  />
                  <input type="hidden" name="page_id" value="gs_noida">
                  <input type="hidden" name="page_name" value="GyanSanchar Noida">
                </div>
  
                <div>
                  <label for="email" class="block mb-2 mt-2  text-lg font-semibold text-black bold"
                    >Mobile Number*</label
                  >
  
                  <div class="flex gap-3">
                    <div class="col-span-10 w-full">
                      <input
                        type="tel"
                        name="mobile"
                        class="bg-white text-black text-sm rounded-full block w-full p-2"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div>
                    <label for="email" class="block mb-2 mt-2 text-lg font-semibold text-black bold"
                      >Email*</label
                    >
                    <input
                      type="email"
                      name="email"
                      class="bg-white text-black text-sm rounded-full block w-full p-2"
                      required
                    />
                  </div>
        
                <div>
                  <label for="msgg" class=" block mb-2 mt-2 text-lg font-semibold text-black bold"
                    >Type your Query*</label
                  >
                  <textarea name="message"  class="w-full text-black h-48 rounded-xl">
                  </textarea>
                 
                </div>
                <div class="float-right">
                  <button
                    class="bg-white text-white mt-8 bg-[#FF7426] font-bold text-xl py-2 px-4 rounded-full"
                    type="submit"
                  >
                    Send Message
                  </button>
                </div>
                <br />
              </form>
            
          </form>
     </div>
    </div>
</div>
<!--courses-->
<div class="lg:flex flex-row items-center justify-center">
  <img src="../public/images/noida_course_card2.svg" class="lg:w-1/3 lg:h-[70%]">
  
  <img src="../public/images/noida_course_card2.svg" class="lg:w-1/3 lg:h-[70%] ">
  
  <img src="../public/images/noida_course_card3.svg" class="lg:w-1/3 lg:h-[70%] ">
</div>
<script>
  $(document).ready(()=>
     {
      
         $('#admission_form').submit(()=>
         {

               event.preventDefault();
                  const form_data = $('#admission_form').serialize();
                  $.ajax({
                      type: 'POST',
                      url: '/submit_form',
                      data: form_data,
                      success: function (response) {
                          $('#admission_form')[0].reset();
                          Swal.fire(response)
                      },
                      error: function (error) {
                          Swal.fire(error.responseJSON)
                      }
                  });
         })
     })
</script>
<%-include('partials/footer')%>