<%-include('partials/header')%>
    <section class="relative">
        <div class="lg:px-10 md:p-5  flex lg:justify-evenly lg:flex-row flex-col-reverse">
            <div class="lg:w-[50%] space-y-2 p-5">
                <p class="font-bold md:text-3xl text-2xl">Li'l Genius Pre Foundation: Class 6 | Class 7 | Class 8 |
                    Olympiad (Online & Hybrid coaching)
                </p>
                <p class="lg:text-xl text-[#8A8A8A] pt-4">
                    The objective of Li'l Genius is to prepare students of Class 6th, 7th and 8th for School exams,
                    <b class="text-gray-700">Olympiad and upcoming vast studies of class 9th and 10th.</b>
                    <br>
                    Middle school (Class 6th , 7th and 8th) is considered as the years of aptitude enhancement. By
                    providing the best inputs we can assure a successful future of a student. Competition is the part of
                    education. Early adapters always get an edge over others. The early learning reduces stress and
                    anxiety at later stage.
                    This program trains student for logical thinking, critical reasoning, scientific and mathematical
                    aptitude by providing unseen and tough problems along with regular curriculum.
                    Potential enhancement for students: IQ level , reasoning skill , calculation skill, Mathematical and
                    scientific aptitude.
                </p>
                <p class="font-roboto-400 text-lg text-[#8A8A8A]">
                    <b class="text-gray-700">Potential enhancement for students:</b> IQ level , reasoning skill , calculation skill, Mathematical and scientific aptitude. 
                </p>
                
            </div>
            <div class="mx-auto lg:mx-0" data-modal-target="formModal" data-modal-toggle="formModal">
                <img src="../public/images/lgherocard.svg">
            </div>
        </div>
        <img src="../public/images/courseillus.svg" class="absolute right-1 bottom-1 -z-10 hidden md:flex">
       
    </section>
    <section>
        <div class="bg-[#FDF8EE] flex justify-evenly items-center lg:flex-row flex-col">
            <img src="../public/images/lilgenfeatureimg.svg">
            <div class="lg:w-[50%] p-6">
                <p class="text-3xl font-bold py-4">Features</p>
                <p>
                    <ul>
                        <li style="list-style: disc; list-style-position: outside;">Coaching available in <b class="text-gray-700">Online</b> and <b class="text-gray-700">Hybrid</b> mode.</li>
                        <li style="list-style: disc; list-style-position: outside;"> It covers<b class="text-gray-700"> Maths, Science, MAT,</b> and <b class="text-gray-700">Vedic Mathematics</b></li>
                        <li style="list-style: disc;  list-style-position:outside;">Provide <b class="text-gray-700">Comprehensive study material</b>, covering deep concepts with suitable examples, and exercise
                       (different difficulty level).</li>
                       <li style="list-style: disc;  list-style-position:outside;">
                       DBS (daily <b class="text-gray-700">brain storming</b>) concept is followed with complete exercise to keep student connected.
                       </li>
                       <li style="list-style: disc;  list-style-position:outside;">
                       <b class="text-gray-700">Recorded lectures</b> for future reference.
                       </li>
                       <li style="list-style: disc;  list-style-position:outside;">
                       Solutions for prv. years IIT mains and advance examination questions.
                       </li>
                       <li style="list-style: disc;  list-style-position:outside;">
                       <b class="text-gray-700">Interpersonal development</b> to bridge gaps in competency.
                       </li>
                       <li style="list-style: disc;  list-style-position:outside;">
                        Subjective test after the completion of each topic.
                       </li>
                       <li style="list-style: disc;  list-style-position:outside;">Part test and Full test practice Set . </li>
                       <li style="list-style: disc;  list-style-position:outside;">MCQ tests to practice for Olympiads. </li>
                          </ul>
                </p>
            </div>
        </div>
    </section>
    <section>
        <div class="flex justify-evenly items-center my-4 lg:flex-row flex-col my-10">
            <img src="../public/images/lgcard1.svg" class="lg:h-[40%] lg:w-[40%] p-2" data-modal-target="formModal" data-modal-toggle="formModal">
            <div class="lg:max-w-[45%] p-5">
                <p class="lg:text-3xl text-xl font-bold font-roboto py-4">Li'l Genius Pre Foundation for Class 6</p>
                <p class=" text-lg leading-9  text-justify font-roboto-400 text-[#8A8A8A]">
                    This course has coaching and assessment of 180 hrs, which includes 10 hrs. of session for doubt
                    clearing. It covers
                    <br>
                    <b class="text-gray-700">Subjects: Class 6 Mathematics, Science, MAT and Vedic Maths</b><br>
                    Preparation for<b class="text-gray-700"> MAT.</b>
                    <br>
                    Enhancing calculation skill through <b class="text-gray-700">Vedic Mathematics.</b>
                    <br>
                    <b class="text-gray-700">Practice test</b> topic wise and full test.
                    <br>
                    Revision of Math and Science for <b class="text-gray-700">School Exams</b> and <b class="text-gray-700">Olympiad.</b><br>

                    This covers <b class="text-gray-700">140 hrs. of coaching, 30 hrs. of assessment.</b>
                </p>
            </div>
        </div>
        <div class="flex justify-evenly items-center my-10 lg:flex-row-reverse flex-col">

            <img src="../public/images/lilgenius_class7.png" class="lg:h-[40%] lg:w-[40%] p-2 " data-modal-target="formModal" data-modal-toggle="formModal">
            
            <div class="lg:max-w-[45%] p-5">
                <p class="lg:text-3xl text-xl font-bold font-roboto py-4 ">Li'l Genius Pre Foundation for Class 7</p>
                <p class=" text-lg leading-9  text-justify font-roboto-400 text-[#8A8A8A]">
                    This course has coaching and assessment of 180 hrs, which includes 10 hrs. of session for doubt
                    clearing. It covers
                    <br>
                    Subjects:<b class="text-gray-700"> Class 7 Mathematics, Science, MAT and Vedic Maths.</b><br>
                    Preparation for <b class="text-gray-700">MAT.</b><br>
                    Enhancing calculation skill through <b>Vedic Mathematics.</b><br>
                    <b class="text-gray-700">Practice test</b> topic wise and full test.<br>
                    <b class="text-gray-700">Revision </b>of Math and Science for <b class="text-gray-700">School Exams</b> and <b class="text-gray-700">Olympiad.</b>
                    <br>
                    This covers <b class="text-gray-700">140 hrs. of coaching, 30 hrs. of assessment.</b>
                </p>
            </div>
        </div>
        <div class="flex justify-evenly items-center my-10 lg:flex-row flex-col">

            <img src="../public/images/lil_genius_class8.png" class="lg:h-[40%] lg:w-[40%] p-2 " data-modal-target="formModal" data-modal-toggle="formModal">
        
            <div class="lg:max-w-[45%] p-5">
                <p class="lg:text-3xl text-xl font-bold py-4 font-roboto ">Li'l Genius Pre Foundation for Class 8</p>
                <p class=" ">
              <ul class="text-lg leading-9 font-roboto-400  text-justify text-[#8A8A8A]">
                   <li class="list-disc"> This course has coaching and assessment of 200 hrs, which includes 15 hrs. of session for doubt
                    clearing.
                    </li>
                    <li class="list-disc"> It covers Subjects: <b class="text-gray-700">Class 8 Mathematics, Science, MAT and Vedic Mathematics.</b></li>
                   <li class="list-disc"> Preparation for <b class="text-gray-700">MAT.</b></li>
                    <li class="list-disc"> Enhancing calculation skill through<b class="text-gray-700"> Vedic Maths.</b></li>
                     <li class="list-disc"> Practice test topic wise and full test.</li>
                     <li class="list-disc">  Revision of Math and Science for School Exams and Olympiad.</li>
                     <li class="list-disc"> This covers <b class="text-gray-700">155 hrs. of coaching, 30 hrs. of assessment.</b></li>
                    </ul>
                </p>
            </div>
        </div>
    </section>
    <%-include('partials/queryform')%>

    <%-include('partials/footer')%>