<%-include('partials/header')%>
<div class="bg-black mx-auto p-2 w-fit ">
    <h1 class="text-white lg:text-2xl text-lg">
      NEET EXAM PATTERN AND DETAILS
    </h1>
  </div>
  <section>
    <div class="flex lg:p-10 lg:flex-row flex-col-reverse p-2">
      <div class="p-5 lg:w-[60%] text-lg text-gray-700">
        <p>


          NEET or National Entrance cum Eligibility Test conducted annually by the 
          <a href="https://www.nta.ac.in/" target="_blank" class="text-yellow-600 underline font-bold">NTA (National Testing Agency)</a> is a
          medical entrance test carried out across the country. A successful attempt at NEET enables students to avail a
          seat in any of the medical programmes such as MBBS, BDS and various AYUSH courses offered in both government
          and private institutes of India. Following the “One nation One test” policy that was passed, NEET has emerged
          as the one-tier national level entrance test scrapping all the state entrance tests including AIIMS and JIPMER
          test.
        </p>
        <p>
        <p class="text-yellow-600 underline font-bold py-5"><a href="/neet"><i>GyanSanchar NEET Courses</i></a></p>
        The following changes have already taken shape and been implemented since last year.
        <br>
        <div class="px-10">
        <ul class="list-disc">
          <li>NEET has superseded AIIMS and JIPMER entrance tests</li>
          <li>Students from the states of Andhra Pradesh and Telangana can now opt seats under the 15% All India Quota</li>
          <li>Category-wise age limitation exist while the restriction on the number of attempts has been uplifted</li>
          <li>NEET is required to be qualified for pursuing medicine in foreign lands.</li>
        </ul>
        <br>
      </div>
        </p>
        <p>
         <p class="font-bold text-lg">Eligibility Criteria – Academic Qualification</p> 
          <ul class="list-disc px-10">
            <li>Candidates must have cleared/appeared at 10+2 or an equivalent examination. </li>
            <li>Class 12 must be studied with majors in Physics, Chemistry, Biology/Biotechnology and English</li>
          </ul>
        </p>
        <div>
          <b>
            <p>Qualifying aggregate :</p>
          </b>
          <div class="mx-4">
          <ul class="list-disc px-10">
            <li>General category – 50% marks in the qualifying examinations</li>
            <li>SC/ST/OBC category – 40% marks in the qualifying examinations</li>
            <li>Physically handicapped: General category – 45% marks in the qualifying examinations</li>
            <li>Physically handicapped: SC/ST/OBC category – 40% marks in the qualifying examinations</li>
          </ul>
          <p>For more details please visit<a href="https://neet.nta.nic.in/" target="_blank" class="underline text-yellow-600 font-bold"> NEET NTA </a>site.</p>
          </div>
        </div>
        

      </div>
      <div class="lg:w-[40%] lg:flex lg:justify-center">
        <image src="../public/images/neet_logo.png" class="h-96 w-96">
        </image>
      </div>
    </div>
  </section>

  <section>
    <div class="flex lg:p-10 lg:flex-row flex-col p-4 justify-around items-center">
      <div>
        <img src="../public/images/neetpattern.png">
      </div>
      <div class="lg:w-[45%]  text-gray-700 ">
        <p class="text-center text-2xl text-gray-700">Exam Pattern</p>
        <p class="text-center font-bold text-2xl">NEET PAPER
        </p>
        <p>
        <ol class="list-disc leading-7 text-xl p-5 space-y-7">
          <li>NEET, has been following the same pattern with some minor changes incorporated as and when required.   </li>
          <li>NEET Paper has question for Physics, chemistry and Biology</li>
          <li>Biology 90 questions consist of 45 botany and 45 Zoology questions.</li>
        </ol>
        </p>
      </div>
    </div>
  </section>
<%-include('partials/footer')%>