<%-include('partials/header')%>
<div class="bg-black mx-auto p-2 w-fit ">
    <h1 class="text-white lg:text-2xl text-lg">
      JEE MAIN EXAM PATTERN AND DETAILS
    </h1>
  </div>
    <section>
      <div class="flex lg:p-10 lg:flex-row flex-col-reverse p-2">
      <div class="p-5 lg:w-full text-md text-gray-700">
        <p>
          The Department of Higher Education, Ministry of Human Resource Development (now known as Ministry of
          Education), Government of India has entrusted the responsibility of conducting Joint Entrance Examination JEE
          (Main) to the NTA from 2019 onwards.
        </p>
        <a>
          <p class="underline text-yellow-600 underline">GyanSanchar IIT Course</p>
        </a>
        <p>
          The JEE (Main) is being conducted in multiple Sessions (February/March/April/May 2021) for admissions in the
          next academic session. The candidates will thus benefit in the following ways:
          <ol class="list-decimal px-10">
            <li style="list-style-position:outside;" >This will give multiple opportunities to the candidates to improve their scores in the examination if they
              fail to give their best in the first attempt without wasting their whole academic year.</li>
            <li>
              In first attempt, the students will get a first-hand experience of taking an examination and will know their
              mistakes which they can improve while attempting for the next time.
            </li>
            <li>
              This will reduce the chances of dropping a year and droppers would not have to waste a full year.
            </li>
            <li>
              If anyone missed the examination due to reasons beyond control, then he/she will not have to wait for one
              full year.
            </li>
          </ol>
        </p>
        <br>
        <p>
          The student’s best of the 2021 NTA Scores will be considered for preparation of Merit List/ Ranking.
          <br>
          <br>
          The JEE Main 2021 will be conducted for three papers separately - Paper 1: BE/BTech, Paper 2A: BArch and Paper
          2B: BPlan.
        </p>
        <br>
        <p>For more details please visit <a href="https://jeemain.nta.nic.in/" class="text-yellow-600 underline" target="_blank">JEE MAIN NTA </a>site.</p>
      </div>
      <div class="lg:float-right lg:p-5">
          <img src="../public/images/jee_main_nta.png">
          </img>
      </div>
    </div>
    </section>
     <section>
      <div class="flex lg:p-10 p-4 lg:flex-row flex-col justify-around items-center">
        <div>
          <img src="../public/images/jemainsectwo.png">
        </div>
        <div class="lg:w-[45%]  text-gray-700 ">
           <p class="text-center text-lg text-gray-700">Exam Pattern</p>
           <p class="text-center font-bold text-2xl">JEE Mains PaperI (BE /B-Tech)</p>
           <p>
          <ol class="list-decimal leading-7 text-xl p-5">
            <li>The JEE Main paper I syllabus covers class 11 and 12 topics from Mathematics, Physics and Chemistry.</li>
            <li>Student need to answer 75 questions. </li>
           <li>Each subject will have 20 MCQs and 10 numerical question out of which 5 is must </li>
           <li>Total 60 MCQ and 15 numeric value </li>
           <li>4 marks for correct answer and -1 for wrong answer</li>
           <li>Total Marks: 300</li>
          </ol>
          </p>
        </div>
      </div>
     </section>
     <section>
      <div class="flex lg:p-10 lg:flex-row flex-col p-4 justify-around items-center">
        <div>
          <img src="../public/images/jeemainsec3.png">
        </div>
        <div class="lg:w-[45%]  text-gray-700 ">
           <p class="text-center text-lg text-gray-700">Exam Pattern</p>
           <p class="text-center font-bold text-2xl">JEE Mains Paper II (BArch /BPlan)
          </p>
           <p>
          <ol class="list-decimal leading-7 text-xl p-5">
            <li>JEE Main paper 2 has three sections, Part 1-Mathematics, Part 2- General Aptitude & Part-3- Drawing/Planning depending upon the choices for B.Arch/B.Plan. </li>
            <li>Part 1 and Part 2 are common for students of both B.Arch and B.Plan. </li>
           <li>Each subject will have 20 MCQs and 10 numerical question out of which 5 is must </li>
           <li>Part 3 has drawing question for  B.Arch while Planning question for B.Plan  </li>
           <li>Total Marks: 400</li>
          </ol>
          </p>
        </div>
      </div>
     </section>
<%-include('partials/footer')%>
