<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
</head>
<style>
    .ql-align-center{
        text-align: center;
    }
</style>
<body>
    <section>
             <pre>
                <%=data.page_content%>
             </pre>
            
       
       
    </section>
   
</body>

</html>