<%-include('partials/header')%>
<div class="bg-black mx-auto p-2 w-fit ">
    <h1 class="text-white lg:text-2xl text-lg">
      CUET - CENTRAL UNIVERSITIES ENTRANCE TEST
    </h1>
  </div>
  <section>
    <div class="flex lg:p-10 lg:flex-row flex-col-reverse p-2">
      <div class="p-5 lg:w-[60%] text-lg text-gray-700">
        <p class="text-3xl font-extrabold font-roboto">CUET - CENTRAL UNIVERSITIES ENTRANCE TEST</p><br>
        <p>
          <b>Central Universities Entrance Test</b>, CUET is an exam for admission to different programmes of the
          participating
          Central Universities. It will provide a single window opportunity to the students to seek admission in these
          participating Universities / Institute(s) across the country.<br><br>

          The <b>Vision</b> of exam is to get the right candidates joining best institutions will give India her
          demographic
          dividend. <br><br>
          The CUET syllabus 2022 is divided into two parts and four sections for <b>UGQP01</b>. Part A of CUET 2022
          syllabus
          includes questions from English, Numerical Aptitude, Data Interpretation, Analytical Skills, Reasoning,
          General Aptitude and General Knowledge. Part B consists of a total of four sections Physics, chemistry,
          Biology and Mathematics. For <b>UGQP02</b>, It has 100 MCQs from English, Numerical Aptitude, Data
          Interpretation,
          Analytical Skills, Reasoning, General Aptitude and General Knowledge.
        </p>
        <p>

        </p>
      </div>
      <div class="lg:w-[40%] lg:flex lg:justify-center">
        <image src="../public/images/cuetlogo.png" class="h-96 w-96">
        </image>
      </div>
    </div>
  </section>
  <section>
    <h1 class="bg-black text-white text-2xl font-bold w-fit mx-auto px-4 py-2 my-5 text-center">EXAM SYLLABUS AND
      DETAILS : CUET UG/ PG</h1>
    <div>
      <img src="../public/images/cuetpattern.png" class="border-2 border-gray-600 mx-auto">
    </div>
  </section>
  <section class="my-10">
    <p class="text-center text-2xl">Benefits of CUET</p>
    <div class="flex justify-center px-10 ">
      <ul class="list-disc">
        <li>Equal Opportunity to every Student.</li>
        <li>More opportunity to each student.</li>
        <li>No cut-off WAR.</li>
        <li>Opportunity for each University.</li>
        <li>Single exam for multiple courses.</li>
      </ul>

    </div>
    <p class="lg:w-[70%] mx-auto w-full p-10">
      The benefits of enrolling at the Central Universities are that faculties of the Central University will be
      academics expert in concerned areas. Expertise knowledge helps to mentor and impart skills to the students. Higher
      education from Central Universities is much esteem.</p>
  </section>
  <%-include('partials/footer')%>