<%-include('partials/header')%>
<div class="bg-black mx-auto p-2 w-fit ">
    <h1 class="text-white lg:text-2xl text-lg">
      JEE ADVANCE EXAM PATTERN AND DETAILS
    </h1>
  </div>
  <section>
    <div class="flex lg:p-10 lg:flex-row flex-col-reverse p-2">
      <div class="p-5 lg:w-[60%] text-lg text-gray-700">
        <p>
          JEE Advance, is an academic examination held annually in India. It is conducted by one of the seven zonal IITs
          (IIT Roorkee, IIT Kharagpur, IIT Delhi, IIT Kanpur, IIT Bombay, IIT Madras, and IIT Guwahati) under the
          guidance of the Joint Admission Board (JAB). It is the sole prerequisite for admission to the <a href="https://en.wikipedia.org/wiki/Indian_Institutes_of_Technology" class="underline text-yellow-600 font-bold"> 
            Indian Institutes of
                Technology.</a> 
        </p>

        <p>
          Through JEE (Advanced), IITs offer admission into undergraduate courses leading to a Bachelor's, Integrated
          Master's or Bachelor-Master Dual Degree in Engineering, Sciences, or Architecture. Both Bachelor's and
          Master's degrees are awarded to candidates enrolled in the dual degree programs upon successful completion of
          the course curriculum. In a few of the IITs, students enrolled into the 4-year Bachelor's program have the
          option to convert to B.Tech (Honors) and/or B.Tech. with Minors.
        </p>
        <p>For more details please visit <a href="https://jeeadv.ac.in/" target="_blank">JEE Advance</a> site.</p>
        <p>
          <p class="text-yellow-600 underline font-bold py-5"><a href="/iit_jee">GyanSanchar IIT Courses</a></p>
          As per the JEE Advanced exam pattern, the exam will be conducted as a computer-based exam with two compulsory
          papers- Paper 1 and Paper 2 of 3 hours each. Both the JEE Advanced papers will have three sections- Physics,
          Chemistry and Mathematics
        </p>
      </div>
      <div class="lg:w-[40%]  lg:flex lg:justify-center">
        <image src="../public/images/jee-advanced-2020-logo.png" class="h-96 w-96">
        </image>
      </div>
    </div>
  </section>
  
  <section>
    <div class="flex lg:p-10 lg:flex-row flex-col p-4 justify-around items-center">
      <div>
        <img src="../public/images/jeeadvance_pattern.png">
      </div>
      <div class="lg:w-[45%]  text-gray-700 ">
        <p class="text-center text-2xl text-gray-700">Exam Pattern</p>
        <p class="text-center font-bold text-2xl">JEE Advance Paper 1 and Paper 2
        </p>
        <p>
        <ol class="list-disc leading-7 text-xl p-5">
          <li>Computer Based Exam for both papers </li>
          <li>JEE Advanced has 2 papers (Paper 1 and Paper 2) and candidates needs to appear for both the papers.</li>
          <li>Each paper has three sections: Physics, Chemistry and Mathematics.</li>
          <li>Each Paper has MCQs and numerical answer type questions </li>
          <li>Marking scheme - Partial as well as full marks.</li>
        </ol>
        </p>
      </div>
    </div>
  </section>
  <%-include('partials/footer')%>