<%-include('partials/header')%>
<div class="bg-black mx-auto p-2 w-fit ">
    <h1 class="text-white lg:text-2xl text-lg">
      NDA EXAM PATTERN AND DETAILS
    </h1>
  </div>
  <section>
    <div class="flex lg:p-10 lg:flex-row flex-col-reverse p-2">
      <div class="p-5 lg:w-[60%] text-lg text-gray-700">
        <p>
          UPSC NDA & NA is a national-level exam organised by UPSC. The exam is conducted offline i.e., pen-paper mode.
          <br><br>
          This exam is to recruit eligible personnel to the Indian Army, Navy and Air Force Wing of the National Defense
          Academy and Indian Naval Academy.<br><br>

          <b>ELIGIBILITY:</b> A student cleared /appearing in 12th can attempt for this exam.<br><br>
          <b>EXAM FREQUENCY: </b>Twice a Year (NDA 1 and NDA 2)
        </p>
        <br>
        <p><i><b><a href="/nda" class="text-yellow-600 underline">GyanSanchar NDA / NACourses</a></b></i>, Educational
          Service : Offline and online coaching classes </p>
        <br>
        <p><b>SELECTION STAGES: 1.</b> Written Test, <b>2.</b> SSB Interview</p>
        <br>
        <p><b>SCHEME OF EXAMINATION</b></p>
        <br>
        <p>The subjects of the written examination, the time allowed and the maximum marks allotted to each subject will
          be as follows:—</p>
        <ul class="list-decimal px-10 space-y-2">
          <li> <b>Mathematics - Duration:</b> 2.5 Hours, <b>Max marks:</b> 300</li>
          <li><b>General Ability - Duration:</b> 2.5 Hours, <b>Max marks:</b> 600</li>
          <li> <b>SSB Test/Interview:</b> 900 Marks</li>
        </ul>
        <br>
        <p>The papers in all the subject will consist of objective type questions only. The question papers (test
          booklet) of Mathematics and Part "B" of General Ability Test will be set bilingually in Hindi as well as
          English.<br><br>
          In the question papers, wherever necessary, questions involving the metric system of Weights and Measures only
          will be set.<br><br>
          The Commission have discretion to fix qualifying marks in any or all the subjects at the examination.<br><br>
          The candidates are not permitted to use calculator or Mathematical or logarithmic table for answering
          objective type papers (Test Booklets). </p>
        <br><br>
        <p>For more details please visit <a href="https://upsc.gov.in/examinations/active-exams"
            class="underline text-yellow-600" target="_blank"><i><b>UPSC</b></i></a> site.</p>
      </div>
      <div class="lg:w-[40%] lg:flex lg:justify-center">
        <image src="../public/images/ndalogo_1.png" class="h-96 w-96">
        </image>
      </div>
    </div>
  </section>
<%-include('partials/footer')%>