<%-include('partials/header')%>
<div class="bg-black mx-auto p-2 w-fit ">
    <h1 class="text-white lg:text-2xl text-lg">
      NTSE EXAM PATTERN AND DETAILS
    </h1>
  </div>
  <section>
    <div class="flex lg:p-10 lg:flex-row flex-col-reverse p-2">
      <div class="p-5 lg:w-[60%] text-lg text-gray-700">
        <p>
          The National Talent Search Examination (NTSE) for student studying in Class X is meant to identify the nurture
          talent. The examination is conducted every year at two levels: Stage-I (State Level) and stage-II (National
          Level).
          <br>
          <b>Scholarship:</b> About two thousand scholarship are awarded for different stages of education as follow
          <br>
          (a) Scholarship of Rs. 1250/- per month for class XI and XII.<br>

          (b) Scholarship of Rs. 1250/- per month for Undergraduates and Post-graduate.<br>

          (c) Amount of Scholarship for PH.D. is fixed in accordance with the UGC norms.<br>
        </p>
        <p class="text-yellow-600 underline font-bold py-5"><a href="/arambh"><i>GyanSanchar NTSE Courses</i></a></p>
        </p>
        <br>
        <p><b>Selection: Stage I </b>selection will be done by State/UTs and those who are selected/recommended from <b>
          Stage I
            examination
        </b>, will be eligible to appear for <b>Stage II examination</b> conducted by NCERT.</p>
        <br>
          <p><b>Exam Mode:</b> Written (Offline)</p>
            <br>
          <p><b>Qualifying Marks:</b> 32% in each paper for SC/ST/PH Category, 40% in each paper for General/OBC &EWS category</p>
          <br>
          <p><b>Exam Paper Pattern</b></p>
           <br>
          <p><b>Stage I & II:</b> Exam at state and UT level comprises of two papers</p>
          <br>
          <p><b>Paper I: Mental Ability Test (MAT):</b> 100 Questions, 100 Marks, 120 mins.</p><br>

          <p><b>Paper II: Scholastic Aptitude Test (SAT):</b>  100 Questions, 100 Marks, 120 mins.</p>

      </div>
      <div class="lg:w-[40%] lg:flex lg:justify-center">
        <image src="../public/images/ntse_logo.png" class="h-96 w-96">
        </image>
      </div>
    </div>
  </section>
<%-include('partials/footer')%>