<%-include('partials/header')%>
<div class="bg-black mx-auto p-2 w-fit ">
    <h1 class="text-white lg:text-2xl text-lg">
      MVPP - MUKHYAMANTRI VIGYAN PRATIBHA PARIKSHA
    </h1>
  </div>
  <section>
    <div class="flex lg:p-10 lg:flex-row flex-col-reverse p-2">
      <div class="p-5 lg:w-[60%] text-lg text-gray-700">
        <p class="text-3xl font-extrabold font-roboto">MVPP - Mukhyamantri Vigyan Pratibha Pariksha</p><br>
        <p>
          <b>Mukhyamantri Vigyan Pratibha Pariksha, MVPP</b> is a scholarship exam conducted between January to March by
          the
          Science Branch of the Directorate of Education in Delhi.
          <br>
          <br>
          This exam was previously known as Junior Science Talent Search Examination.<br>
          <br>
          The main aim of exam is to identify and nuture the talents. This exam is conducted at state level.<br>
          <br>
          Students apearing in <b>Class 9 </b>of a recognized school in Government or Government Aided/Public/KV
          (Kendriya
          Vidyalaya) /Navodaya/NDMC (North Delhi Municipal Corporation) schools are eligible for the exam.<br>
          <br>
          An amount of Rs. <b>5000 is awarded</b> to <b>top 1000 meritorious students.</b>
          <br>
          <br>
        </p>
        <p>
          <b>Eligibility:</b>
          <br>
          <br>
          <b>1.</b> The students studying in Class 9 in Govt., Govt. Aided arid Unaided recognized Pvt. Schools
          including the
          Kendriya Vidyalaya, Jawahar Navodaya Vidyalaya, School of MCD, NDMC, DCB, etc. in GNCT of Delhi.
          <br><br>
          <b>2.</b> Must have <b>secured 60% marks in Class 8, 5% relaxation</b> in marks for the students belonging to
          <b>SC/ST and PH</b>
          category
          <br>
        </p>
      </div>
      <div class="lg:w-[40%] lg:flex lg:justify-center">
        <image src="../public/images/mvpp log.png" class="h-96 w-96">
        </image>
      </div>
    </div>
  </section>
  <section>
    <h1 class="bg-black text-white text-2xl font-bold w-fit mx-auto px-4 py-2 my-5 text-center">EXAM SYLLABUS AND DETAILS :
      MUKHYAMANTRI VIGYAN PRATIBHA PARIKSHA - MVPP</h1>
    <div>
      <img src="../public/images/mvppdesc.png" class="border-2 border-gray-600 mx-auto">
    </div>
  </section>
  <section class="my-10">
    <p class="text-center text-2xl">Benefits of MVPP</p>
    <div class="flex justify-center px-10 ">
      <ul class="list-disc">
        <li>Earn scholarship of Rs 5000/-.</li>
        <li>Provides opportunity to understand about the competitive exams.</li>
        <li>It helps gain confidence</li>
        <li>It helps to understand your strength, Weakness.</li>
        <li>Help to developAnalytical ability.</li>
      </ul>
     
    </div>
    <p class="lg:w-[70%] mx-auto w-full p-10"> MVPP is very competitive and it tests your analytical ability, grasping, awarenes and your speed. Gyansanchar
      is the best coaching as it helps to identify the gaps and develop the abilities in each student and prepare them
      for the competitive world from the start itself.</p>
  </section>
  <%-include('partials/footer')%>