<%-include('partials/header')%>
<section class="relative">
    <div class="lg:px-10 md:p-5  flex lg:justify-evenly lg:flex-row flex-col-reverse">
        <div class="lg:w-[50%] space-y-2 p-5">
            <p class="font-bold md:text-3xl text-2xl">G- NDA | NA | Class 12 ( Online and Hybrid coaching)
            </p>
            <p class="lg:text-xl text-[#8A8A8A]">
                <span class="font-bold text-black">NDA/ NA</span> is a Defense entrance exam conducted to recruit eligible personnel to the Indian Army, Navy and Air Force Wing of the National Defense Academy and Indian Naval Academy. This course is to provide coaching to students for appearing in <b class="text-gray-700">NDA entrance</b>. The exams happens twice a year.
GyanSanchar study pattern is based on the earlier age Gurukul system. Our gurus acts as a mentor to each student and not only teach but also provide study plan for self-study

            </p>
        </div>
        <div class="mx-auto lg:mx-0">
            <a href="https://play.google.com/store/apps/details?id=co.alexis.dlbdl">
            <img src="../public/images/gndaherocard.svg">
        </a>
        </div>
    </div>
    <img src="../public/images/courseillus.svg" class="absolute right-1 bottom-1 -z-10 hidden md:flex">
    
</section>

<section>
    <div class="bg-[#FDF8EE] flex justify-evenly items-center lg:flex-row flex-col">
        <img src="../public/images/gndafeaturecard.svg" data-modal-target="formModal" data-modal-toggle="formModal">
        <div class="lg:w-[50%] p-6">
            <p class="text-3xl font-bold">Features</p>
            <p>
                <ul>
                    <li style="list-style: disc; list-style-position: outside;">Coaching available in <b class="text-gray-700">Online</b> and <b class="text-gray-700">Hybrid</b> mode.</li>
                    <li style="list-style: disc; list-style-position: outside;"> It covers<b class="text-gray-700"> Maths, Science, MAT,</b> and <b class="text-gray-700">Vedic Mathematics</b></li>
                    <li style="list-style: disc;  list-style-position:outside;">Provide <b class="text-gray-700">Comprehensive study material</b>, covering deep concepts with suitable examples, and exercise
                   (different difficulty level).</li>
                   <li style="list-style: disc;  list-style-position:outside;">
                   DBS (daily <b class="text-gray-700">brain storming</b>) concept is followed with complete exercise to keep student connected.
                   </li>
                   <li style="list-style: disc;  list-style-position:outside;">
                   <b class="text-gray-700">Recorded lectures</b> for future reference.
                   </li>
                   <li style="list-style: disc;  list-style-position:outside;">
                   Solutions for prv. years IIT mains and advance examination questions.
                   </li>
                   <li style="list-style: disc;  list-style-position:outside;">
                   <b class="text-gray-700">Interpersonal development</b> to bridge gaps in competency.
                   </li>
                   <li style="list-style: disc;  list-style-position:outside;">
                    Subjective test after the completion of each topic.
                   </li>
                   <li style="list-style: disc;  list-style-position:outside;">Part test and Full test practice Set . </li>
                   <li style="list-style: disc;  list-style-position:outside;">MCQ tests to practice for Olympiads. </li>
                      </ul>
            </p>
        </div>
    </div>
</section>
<section>
    <div class="my-5 flex justify-evenly lg:flex-row flex-col">
        <div class="lg:w-[30%] border-2 rounded-lg shadow-2xl">
            <img src="../public/images/ndacard2.svg" data-modal-target="formModal" data-modal-toggle="formModal">
            <div class="w-[90%] p-5 mx-auto ">
                <p class="text-2xl font-bold text-center">NDA Integrated course </p>
                <p class="text-justify text-[#8A8A8A]">
                    This is an <b>integrated course</b> to provide a balanced preparation to student for <b>
                        NDA along with
                        board exams
                    </b> . This is for students who opted Physics, Chemistry and Mathematics as their main
                    stream for board examinations.
                    This course has coaching and assessment of <b>500 hrs. for board</b> and <b>340 hrs. for NDA</b>.
                    <br>
                    It includes
                    <div class="mx-4 text-[#8A8A8A]">
                        <ul>
                            <li class="list-disc">Coaching for class 12 <b>Physics, Chemistry and Mathematics.</b></li>
                           
                            <li class="list-disc">Specialized session for GS and English</li>
                           
                            <li class="list-disc">Package for<b> GS </b>and <b>English</b>.</li>
                           
                            <li class="list-disc"> Practice test of NDA</li>
                            
                            <li class="list-disc"> Revision for class 11th Maths</li>
                            
                           <li class="list-disc"> Revision for Class 12th PCM for boards exam and NDA</li>
                        </ul>
                </div>
                </p>
            </div>
        </div>

        <div class="lg:w-[30%] border-2 rounded-lg shadow-2xl">
            <img src="../public/images/gndacrashbanner.svg">
            <div class="w-[90%] p-5 mx-auto ">
                <p class="text-2xl font-bold text-center">NDA Crash course </p>
                <p class="text-justify text-[#8A8A8A]">
                    NDA is held twice in a year, so we came up with crash course for preparing for any of the two attempt. 
                    <br>
                    This is a <b class="text-gray-700">90 days preparation course</b> and is applicable for the students who are dedicatedly preparing for NDA entrance examination. 
                    <br>
                    <p class="text-[#8A8A8A]">
                        <b class="text-gray-700">April NDA entrance examination</b> - Batch starts from November .
                      <br>
                     <b class="text-gray-700">September NDA examination</b> - Batch starts from  April.
                     <br>
                     <b class="text-gray-700">Phase – 1 :</b>  Weekly 5 day - 5 hour coaching for 60 working days. Part test will be conducted for practice.
                     <br>
                     <b class="text-gray-700">Phase – 2 :</b> Final 30 day revision and assessment with full test covering all aspect of examinations to give a real time exam feeling before final examination.
                    </p>
                </p>
            </div>
        </div>
       
    </div>
</section>
<%-include('partials/queryform')%>
<%-include('partials/footer')%>