<%-include('partials/header')%>

    <p class="font-bold text-4xl text-center py-5">PRIVACY POLICY</p>

    <section class="lg:px-10 px-5">
        <p class="font-bold text-2xl py-5">Introduction</p>
        <p>GyanSanchar respects your privacy and is committed to protecting it through our compliance with this policy.
            This policy describes the types of information we may collect from you or that you may provide when you
            visit our website <a href="https://gyansanchar.com " class="underline text-blue-400">www.gyansanchar.com</a>
            and
            our mobile
            application GyanSanchar and our practices for
            collecting, using, maintaining, protecting, and disclosing that information.</p>
        <br>
        <p>By accessing or using our Website or App, you consent to this privacy policy. If you do not agree with our
            policies and practices, you should not use our Website or App.</p>
    </section>
    <section class="lg:px-10 px-5">
        <p class="font-bold text-2xl py-5">Information We Collect</p>
        <p>
        <ul class="list-disc lg:px-5 px-2">
            <li>We may collect several types of information from and about users of our Website and App, including:</li>
            <li>Personal Information: Name, email address, phone number, and other similar information that you provide.
            </li>
            <li>Non-Personal Information: Information that cannot be used to identify you, such as browser type,
                language
                preference, referring site, and the date and time of each visitor request.</li>
            <li>Usage Data: Information about your device and internet connection, including your IP address, operating
                system, and browser type.</li>
        </ul>
        </p>
    </section>
    <section class="lg:px-10 px-5">
        <p class="font-bold text-2xl py-5">How We Use Your Information</p>
        <ul class="list-disc lg:px-5 px-2">
            <li>We may use information that we collect about you or that you provide to us for the following purposes:
            </li>
            <li>To present our Website and App and their contents in a suitable and effective manner for you</li>
            <li>To provide you with information, products, or services that you request from us.</li>
            <li>To fulfil any other purpose for which you provide it</li>
            <li>To carry out our obligations and enforce our rights arising from any contracts entered into between you
                and us
            </li>
        </ul>
    </section>
    <section class="lg:px-10 px-5">
        <p class="font-bold text-2xl py-5">Disclosure of Your Information</p>
        <ul class="lg:px-5 px-2 list-disc">
            <li>We may disclose personal information that we collect or you provide as described in this privacy policy.
            </li>
            <li>To our subsidiaries and affiliates.</li>
            <li>To contractors, service providers, and other third parties we use to support our business.</li>
            <li>To a buyer or other successor in the event of a merger, restructuring, reorganization, dissolution, or
                other
                sale or transfer of some or all of GyanSanchar's assets.</li>
        </ul>
    </section>
    <section class="lg:px-10 px-5">
        <p class="text-2xl font-bold py-5"> Your Choices About Your Information </p>
        <ul class="list-disc lg:px-5 px-2">
            <li >You can review and change your personal information by logging into the Website or App and visiting your
                account profile page.</li>
            <li>You may also send us an email at <a href="mailto:contact@gyansanchar.com" class="underline text-blue-500">contact@gyansanchar.com</a> to request access to, correct, or delete any
                personal information that you have provided to us.</li>
        </ul>
    </section>
    <section class="lg:px-10 px-5">
        <p class="font-bold text-2xl py-5">Security</p>
        <p>We have implemented measures designed to secure your personal information from accidental loss and from
            unauthorized
            access, use, alteration, and disclosure.</p>

    </section>
    <section class="lg:px-10 px-5">
        <p class="text-2xl font-bold py-5">Changes to Our Privacy Policy</p>
        <p>It is our policy to post any changes we make to our privacy policy on this page. </p>
    </section>
    <section class="lg:px-10 px-5">
        <p class="font-bold text-2xl py-5">Contact Information</p>
        <p>If you have any questions or comments about this privacy policy or our privacy practices, please contact us
            at:
            <a href="mailto:contact@gyansanchar.com" class="underline text-blue-500">contact@gyansanchar.com</a>.
        </p>

    </section>
    <%-include('partials/footer')%>