<%-include('partials/header')%>
<p class="text-5xl text-center py-5 font-bold">TERMS AND CONDITONS</p>
<section class="lg:px-24 px-10 py-10">
<p>Welcome to GYANSANCHAR (A unit of Search and Learn Pvt. Ltd.) (referred as Company). These Terms and Conditions ("Terms") govern your access to and use of www.gyansanchar.com /GyanSanchar (Mobile App) and any content, products, or services available through the platform (collectively, the "Services").</p>
<ol>
<li><strong>Important Information: </strong></li>
</ol>
<p>Please read these conditions carefully as they shall form the part of the contract between the Parent / Student (If he / she is major) and Company. If required Company can sub-contract or hire or appoint a franchisee to provide the service on Company's behalf. However, the entire responsibility of services provided would rest with Company. Further by admitting/enrolling your ward at the Company and by paying the requisite fees, you explicitly acknowledge that you have read &amp; understood the terms and conditions relating to admission to the and agree to abide and be bound by it. Any deficiency in the admission process cannot be pleaded as an excuse for not abiding by the terms and conditions relating to admission / payment of fees / refund / usage of student name by the Company etc.</p>
<ol start="2">
<li><strong>Disclaimer: </strong></li>
</ol>
<p>GyanSanchar retains an unconditional and irrevocable right to modify, change or delete these Terms and Conditions or any part thereof, without any prior notification to any party. It shall be Your responsibility to check the Terms and Conditions periodically for changes. By accessing or using our platform, you agree to be bound by these Terms and our Privacy Policy. If you do not agree with these Terms, you should not use our platform.</p>
<p>&nbsp;</p>
<ol start="3">
<li><strong>Inquiry /Enrollment /Admission: </strong></li>
</ol>
<ul>
<li>To enroll with the Company, the application form must be completed, signed by the student and Parent / guardian / duly appointed agent and submitted along with a self-attested photocopy of Aadhar Card and two recent passport size colour photographs affixed on the admission form.</li>
<li>Incomplete forms shall be rejected and no claims shall be entertained in that respect. Student and Parent / guardian / duly appointed agent shall provide required documents by GyanSanchar from time to time.</li>
<li>Many times, concerned are raised by parent&rsquo;s reference to admission counsellors (or somebody at the Branch / Centre) did not inform/guide them about the courses and/or about the terms &amp; conditions properly, It is also equal responsibility of the parents / guardians to read the terms &amp; conditions thoroughly to enable them to take independent decision before making any payment of the fee for admission.</li>
<li>Parents / students are free to ask any question or doubts before admission. We assure that it will be taken care with full dedication to enable you to take an informed and good decision. Please be informed that post admission, this kind of complaint or representation shall not be entertained nor can be used as an excuse for refund or additional discount.</li>
</ul>
<ol start="4">
<li><strong>Payment of Fees: </strong></li>
</ol>
<ul>
<li>The fees can be paid either in lump sum or in instalments. However, in case of payment through E.M.I, the 1st installment should be paid before the commencement of class and the remaining installments, if any are to be paid by A/C payee Post Dated Local Cheques at the time of admission itself or any other payment method as may be accepted by the Company</li>
<li>An additional concession of 10% on Tuition &amp; Classroom Service Fee Component of Long-Term Courses (i.e. One / Two / Three / Four Year Integrated Classroom Courses) shall be granted for payment of lump sum fee of one year. However, on Lumpsum payment for Full Course upfront for Two / Three / Four Year Courses, 15% concession will be given. However, no lump sum concession benefit is available on Registration Fee, Admission Kit &amp; Digital Access Fee, Technology Fee &amp; Examination Fee.</li>
<li>All payment of fee for Long Term as well as Short Term Courses, including ancillary charges should be paid through any of the below listed payment modes only. kindly contact the Branch / Centre allotted to your ward for payment details
<ul>
<li>Cheque</li>
<li>Net banking (RTGS / NEFT)</li>
<li>Mobile Wallets / UPI like Paytm, GPay, PayU, etc.</li>
<li>Debit / Credit Card</li>
<li>Online Payment through Mobile App</li>
</ul>
</li>
</ul>
<p><strong>Note</strong>: For successful completion of the admission process, a copy of the deposit slip should be submitted with the appropriate Branch / Centre without fail within 3 days of deposit of course fee with the bank</p>
<p>Payments shall be accepted at the appropriate Branch / Centre between 10:00 A.M. - 6:00 P.M. on Weekdays and between 10:00 A.M. - 3:00 P.M. on Sundays.</p>
<ol start="5">
<li><strong>Eligibility</strong></li>
</ol>
<ul>
<li>It is for the students themselves to ascertain whether he/she is eligible for a particular competitive / entrance examination or not. The Company and/or the branch/Centres shall not be held liable in the event a student&rsquo;s admission form cannot be forwarded or is rejected by the examining body on any ground whatsoever. Such a student cannot claim a refund of the whole or any part of the fee he/she has paid to the Company.</li>
<li>It shall be the sole responsibility of the students to procure and forward duly filled and completed entrance exam admission application forms to the concerned examining bodies. The Company owes no duty in this regard and shall not be held responsible for any failure on the part of the student in this regard.</li>
</ul>
<ol start="6">
<li><strong>User Accounts</strong></li>
</ol>
<ul>
<li>You may need to create an account to access certain features of our platform. You are responsible for maintaining the confidentiality of your account and password along with personal information, including but not limited your name, mobile number, e-mail address, residential address, grade/class of the student, school name, payment information (credit/debit card details)</li>
<li>You agree to provide accurate, current, and complete information during the registration process and to promptly update such information as necessary.</li>
<li>You are responsible for all activities that occur under your account.</li>
<li>Incase of any unauthorized use of your account, immediately inform GyanSanchar and immediately change password for the account. As an appropriate action, GyanSanchar or its successor may suspend Your account without any liability, for such period of time. GyanSanchar will not be liable to You and or any third person for any damages, compensation, cost, loss arising from your inability to log into your account and access the Course including any damage caused to You and/or any third person due to improper handling and/or misuse of the Product.</li>
</ul>
<ol start="7">
<li><strong>Mobile App Specific Terms and Conditions </strong></li>
</ol>
<ul>
<li>You agree that digital courses will be available to you on mobile app post successful realisation of course fee GyanSanchar or it successor.</li>
<li>You hereby agree that You shall use the mobile app solely for the purpose of learning but not otherwise. Furthermore, only limited applications as may be allowed GyanSanchar or its successors from time to time would be accessible to You by virtue of the Product.</li>
<li>You hereby understand and acknowledge that GyanSanchar or its successors not being the manufacturer of the mobile app does not warrant the quality, functioning, or any hardware/software related defects or any other defect resulting in loss of data, affecting processing speed etc.</li>
<li>You hereby agree that courses purchased from GyanSanchar or its successors are non-refundable in any circumstances whatsoever.</li>
</ul>
<ol start="8">
<li><strong>Content and Intellectual Property</strong></li>
</ol>
<p>Intellectual Property Rights mean and include but not limited to products, proprietary information, patents, trademark, logo, technology, study material, model, design, data bases, industrial processes, source codes, copyrights (including rights in computer software) and any other intellectual or industrial property rights (registered or unregistered) subsisting or recognized under the law applicable for time being in force. It is clearly understood and agreed that Company shall own and retain all right, title and interest in and to any Intellectual Property Rights created or developed by the Company. Nothing contained herein shall assign or transfer in any manner whatsoever, any of the rights, title, interest in Intellectual Property Rights of one Party to the other Party.</p>
<p>&nbsp;</p>
<ol start="9">
<li><strong>Prohibited Activities (You agree not to):</strong></li>
</ol>
<ul>
<li>Use our platform for any illegal purpose or in violation of any applicable laws.</li>
<li>Share your account credentials with others or allow unauthorized access to your account.</li>
<li>Attempt to interfere with or disrupt the operation of our platform.</li>
</ul>
<ol start="10">
<li><strong>User Content:</strong></li>
</ol>
<ul>
<li>You may be able to submit or upload content to our platform. By doing so, you grant us a non-exclusive, worldwide, royalty-free, sublicensable, and transferable license to use, reproduce, distribute, prepare derivative works of, display, and perform your content.</li>
<li>You represent and warrant that you have the necessary rights to grant this license.</li>
</ul>
<ol start="11">
<li><strong>Publicity: </strong></li>
</ol>
<p>The Company reserves the right to use the single / group photograph(s) and name of the student for publicity in all kinds of media, if the student secures position / rank or succeeds in any competitive or Board Exams in India or any test at international level at any time. In addition to the photograph, the Company also reserves the right to record video-audio testimonial of the student &amp; parent for the purpose of referencing or promotion, as required by the Company at any stage during and/or after the completion of the course for the purpose of publicity in all kinds of media. No separate permission will be taken from parents / students for the same.</p>
<ol start="12">
<li><strong>Parents&rsquo;/ Guardians&rsquo; Conduct: </strong></li>
</ol>
<ul>
<li>Parents / guardian will be responsible to submit the fee of their ward in time as per schedule given in the prospectus. Company will not send any reminders and calls to the Parents / Guardians / students for submission of fee.</li>
<li>Late fee will be added if installments are not cleared by due date and classes will be stopped for the ward.</li>
<li>Parents / Guardian can meet the personnel at the concerned Branch / Centre for any enquiry about their ward&rsquo;s progress or any other problem concerning their ward with prior appointment.</li>
<li>Any change in Permanent / Correspondence Address, Mobile No. (student &amp; parent) &amp; E-mail ID should be notified in writing to the concerned Branch / Centre within 10 days of such change.</li>
<li>It is mandatory to provide complete and correct E-mail ID / Mobile No. of the Student / Parents / Guardian. The result of tests or any other information of the Company will be sent to the student by SMS and on his / her E-mail ID, Company shall not be responsible for the non-receipt of any information regarding result or anything else owing to non-supply or supply of incorrect information in the Admission form or for technical glitches beyond the control of the Company. Non-receipt of information through SMS or e-mail should be promptly notified to the appropriate Branch / Centre for necessary steps.</li>
<li>The Company reserves the right to dis-continue / rusticate a student from the enrolled course, in case any of the parent / guardian is found to be misconducting, using foul language or issuing threats over phone, email or in person towards the Institute / Company or any of the staff members of the Branch / Centre or Head Office of the Company.</li>
</ul>
<ol start="13">
<li><strong>Force Majeure: </strong></li>
</ol>
<p>Company and its Successor shall be not be liable for any delay or failure to perform its obligations (in total or in part) if such delay or failure is due to any cause(s) including but are not limited to, acts of God, strikes, lockouts, riots, lockdown, government restrictions, sanctions, wars, terrorism, insurrections, civil disturbances, earthquake, weather, fire, epidemic, pandemic, lockdown, explosions, and/or any other cause beyond the reasonable control of the Company ("Force Majeure Event"). The Company and / or Centres/Branches shall not be held liable for any loss and/or damage of life or property due to any mishappening and/or accident at the Company and/or Branch / Centre due the reason of Force Majeure Event.</p>
<ol start="14">
<li><strong>Privacy</strong></li>
</ol>
<p>Our Privacy Policy explains how we collect, use, and disclose information about you. By using our platform, you consent to our collection and use of your information as described in the Privacy Policy.</p>
<ol start="15">
<li><strong>Termination</strong></li>
</ol>
<p>We may terminate or suspend your account and access to our platform at any time for any reason without notice or liability to you.</p>
<ol start="16">
<li><strong>Contact Information</strong></li>
</ol>
<p>If you have any questions or comments about these Terms, please contact us at: <a href="mailto:contact@gyansanchar.com">contact@gyansanchar.com</a>.</p>
</section>
<%-include('partials/footer')%>